body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    width: 400px;
    border-style: solid;
    border-color: black;
    
}

#container div {
    aspect-ratio: 1;
}

#container div{
    
    height: 100px;
    background-color: white;
}